@model AspNet_RssReader_WebUI.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/form.css" type="text/css" />
</head>
<body>
<div>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <div>
            @Html.LabelFor(m => m.Email)
            <div>
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>

        <div>
            @Html.LabelFor(m => m.Password)
            <div>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div>
            @Html.LabelFor(m => m.ConfirmPassword)
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>

        <div>
                <input type="submit" class="button full-width blur" value="Register" />
        </div>
    }
</div>  
</body>
</html>
