@model AspNet_RssReader_WebUI.ViewModels.ArticlesListViewModel

@foreach (var article in Model.ArticleViewModels)
{
    <div class="card @if(article.Read) {
        @:read
         } " onclick="markArticleAsRead('@article.Link','@article.Id',this);">
        <div class="container black header">
            @article.Title
        </div>

        <div class="container content">
            <p>@article.Description</p>
        </div>

        <div class="container black footer">
            @article.SourceName / @article.PublicationTime
        </div>
    </div>       
}