@model AspNet_RssReader_WebUI.ViewModels.UpdateCategoryViewModel
<h1>Edit category</h1>

@using (Ajax.BeginForm("Update", "Category",
                                        new AjaxOptions
                                        {
                                            UpdateTargetId = "modal-content",
                                            HttpMethod = "POST",
                                            InsertionMode = InsertionMode.Replace,
                                            OnComplete = "showModal()"
                                        }))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(m => m.Name)
        <div>
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>

    @Html.HiddenFor(x => x.Id)

    <div>
        <input type="submit" value="Update"/>
    </div>
}

