@using AspNet_RssReader_WebUI.HtmlHelpers
@model AspNet_RssReader_WebUI.ViewModels.NavViewModel

<ul class="nav" id="sidenav">
    <li class="title">Rss Reader</li>
    <li>@Ajax.ActionLink("New source","Create","Source",null,
       new AjaxOptions { UpdateTargetId = "modal-content", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, OnComplete = "showModal()" })
    </li>
    <li>
        @Ajax.ActionLink("New category", "Create", "Category", null,
       new AjaxOptions { UpdateTargetId = "modal-content", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, OnComplete = "showModal()" })
    </li>
    <br>
    <li>
        <a href="@Url.Action("List","Article")">All sources</a>
        @if (Model.Sources.Any())
        {
            <a class="button accordion arrow right"><i class="fa fa-chevron-right"></i></a>
        }
        <ul class="hidden">
            @foreach (var source in Model.Sources)
            {
                <li class="show-hide-button">
                    <a href="@Url.Action("List", "Article", new {sourceName = source.Name})" class="source-name">@source.Name</a>
                    <div class="right">
                        @Ajax.RawActionLink("<i class=\"fa fa-edit\"></i>", "Update", "Source", new {name = source.Name},
                            new AjaxOptions
                            {
                                UpdateTargetId = "modal-content",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                OnComplete = "showModal()"
                            }, new {@class = "button hide-button"})
                        @Ajax.RawActionLink("<i class=\"fa fa-times\"></i>", "Delete", "Source", new {name = source.Name},
                            new AjaxOptions
                            {
                                UpdateTargetId = "modal-content",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                OnComplete = "showModal()"
                            }, new {@class = "button hide-button"})
                      </div>
                </li>
            }
        </ul>
    </li>
    <li>
        @foreach (var category in Model.Categories)
        {
            <div class="category-show-hide-button show-hide-button">
                <a href="@Url.Action("List","Article",new {categoryName = category.Name})">@category.Name</a>
                <div class="right">
                    @Ajax.RawActionLink("<i class=\"fa fa-edit\"></i>", "Update", "Category", new { name = category.Name },
                            new AjaxOptions
                            {
                                UpdateTargetId = "modal-content",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                OnComplete = "showModal()"
                            }, new { @class = "button hide-button" })
                    @Ajax.RawActionLink("<i class=\"fa fa-times\"></i>", "Delete", "Category", new { name = category.Name },
                            new AjaxOptions
                            {
                                UpdateTargetId = "modal-content",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                OnComplete = "showModal()"
                            }, new { @class = "button hide-button" })
                </div>
            </div>
            if(category.Sources.Any())
            {
                 <a class="button accordion arrow right"><i class="fa fa-chevron-right"></i></a>
            }
            <ul class="hidden" style="clear: both">
                @foreach (var source in category.Sources)
                {
                    <li class="show-hide-button">
                        <a href="@Url.Action("List", "Article", new {sourceName = source.Name})" class="source-name">@source.Name</a>
                        <div class="right">
                            @Ajax.RawActionLink("<i class=\"fa fa-edit\"></i>", "Update", "Source", new { name = source.Name },
                            new AjaxOptions
                            {
                                UpdateTargetId = "modal-content",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                OnComplete = "showModal()"
                            }, new { @class = "button hide-button" })
                            @Ajax.RawActionLink("<i class=\"fa fa-times\"></i>", "Delete", "Source", new { name = source.Name },
                            new AjaxOptions
                            {
                                UpdateTargetId = "modal-content",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                OnComplete = "showModal()"
                            }, new { @class = "button hide-button" })
                        </div>
                    </li>
                }
            </ul>
        }
    </li>
</ul>