@model AspNet_RssReader_WebUI.ViewModels.NavMenuViewModel

<div id="mySidenav" class="sidenav">
    @Html.ActionLink("New source", "AddNewSource", "Source")
    @Html.ActionLink("New category","AddNewCategory","Category")<br />
    @Html.ActionLink("All articles", "List", "Article")<br />

    <a class="accordion">Sources</a>
    <div class="panel">
        @foreach (var source in Model.Sources.ToList())
        {
            <div class="sourcebar">
                @Html.RouteLink(source.Name,
                    new
                    {
                        controller = "Article",
                        action = "List",
                        sourceName = source.Name
                    }, new
                    {
                        @class = "sourcelink"
                    })
                @Html.RouteLink(HttpUtility.HtmlDecode("&equiv;"),
                    new
                    {
                        controller = "Source",
                        action = "EditSource",
                        sourceName = source.Name
                    }, new
                    {
                        @class = "sourcebarbutton"
                    })
                @Html.RouteLink(HttpUtility.HtmlDecode("&times;"),
                    new
                    {
                        controller = "Source",
                        action = "DeleteSource",
                        sourceName = source.Name
                    },new
                    {
                        @class="sourcebarbutton"
                    })
            </div>
        }
    </div>
    
    <a class="accordion">Categories</a>
    <div class="panel">
        @foreach (var category in Model.Categories.ToList())
        {
            <div class="sourcebar">
                @Html.RouteLink(category.Name,
                    new
                    {
                        controller = "Article",
                        action = "List",
                        categoryName = category.Name
                    }, new
                    {
                        @class = "sourcelink"
                    })
                @Html.RouteLink(HttpUtility.HtmlDecode("&equiv;"),
                    new
                    {
                        controller = "Category",
                        action = "EditCategory",
                        categoryName = category.Name
                    }, new
                    {
                        @class = "sourcebarbutton"
                    })
                @Html.RouteLink(HttpUtility.HtmlDecode("&times;"),
                    new
                    {
                        controller = "Category",
                        action = "DeleteCategory",
                        sourceName = category.Name
                    }, new
                    {
                        @class = "sourcebarbutton"
                    })
            </div>
        }
    </div>
</div>

