@model AspNet_RssReader_WebUI.ViewModels.NavMenuViewModel

<div id="mySidenav" class="sidenav">
    @using (Html.BeginForm("LogOff", "Account",FormMethod.Post,new {role="form"}))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Log off" class="submitLink"/>
    }<br/>
    @Html.ActionLink("New source", "AddNewSource", "Source")
    @Html.ActionLink("New category", "AddNewCategory", "Category")<br/>

    @Html.RouteLink("All sources",
        new
        {
            controller = "Article",
            action = "List"
        }, new
        {
            @class = "barlink-first"
        })

    <a class="barbutton-first"></a>
    <a class="barbutton-first"></a>
    @if (Model.Sources.Any())
    {
        <a class="barbutton-first accordion rotate"><i class="fa fa-chevron-right" style="font-size: 18px"></i></a>
    }
    else
    {
        <a class="barbutton-first"></a>
    }
    <div class="panel">
        @foreach (var source in Model.Sources.ToList())
        {
            <div>
                @Html.RouteLink(source.Name,
                    new
                    {
                        controller = "Article",
                        action = "List",
                        sourceName = source.Name
                    }, new
                    {
                        @class = "barlink-second"
                    })
                <a href="@Url.Action("EditSource", "Source", new {sourceName = source.Name})" class="barbutton-second"><i class="fa fa-bars"></i></a>
                <a href="@Url.Action("DeleteSource", "Source", new {sourceName = source.Name})" class="barbutton-second"><i class="fa fa-close"></i></a>
            </div>
        }
    </div>

    @foreach (var category in Model.Categories.ToList())
    {
        @Html.RouteLink(category.Name,
            new
            {
                controller = "Article",
                action = "List",
                categoryName = category.Name
            }, new
            {
                @class = "barlink-first"
            })

        <a href="@Url.Action("EditCategory", "Category", new {categoryName = category.Name})" class="barbutton-first"><i class="fa fa-bars"></i></a>
        <a href="@Url.Action("DeleteCategory", "Category", new {categoryName = category.Name})" class="barbutton-first"><i class="fa fa-close"></i></a>
        if (category.Sources.Any())
        {
            <a class="accordion barbutton-first rotate"><i class="fa fa-chevron-right" style="font-size: 18px"></i></a>
        }
        else
        {
            <a class="barbutton-first"></a>
        }

        <div class="panel">
            @foreach (var source in category.Sources)
            {
                <div>
                    @Html.RouteLink(source.Name,
                        new
                        {
                            controller = "Article",
                            action = "List",
                            sourceName = source.Name
                        }, new
                        {
                            @class = "barlink-second"
                        })
                    <a href="@Url.Action("EditSource", "Source", new {sourceName = source.Name})" class="barbutton-second"><i class="fa fa-bars"></i></a>
                    <a href="@Url.Action("DeleteSource", "Source", new {sourceName = source.Name})" class="barbutton-second"><i class="fa fa-close"></i></a>
                </div>
            }
        </div>
    }
</div>

