@using AspNet_RssReader_WebUI.ViewModels
@model EditSourceViewModel

@{
    ViewBag.Title = "EditSource";
}

<div class="editor full-width">
    <h2>Edit source</h2>
    @using (Html.BeginForm("EditSource", "Source", FormMethod.Post, new { role = "form" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "button full-width" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Link)
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Link, new { @class = "button full-width" })
                @Html.ValidationMessageFor(m => m.Link)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="button full-width blur" value="Update" />
            </div>
        </div>

        <p>
            @Html.ActionLink("Delete", "DeleteSource", "Source", new { sourceId = Model.SourceId }, new {@class= "button full-width blur" })
        </p>
    }
</div>

